NO_COLOR='d8dee9'
COLOR_PRIMARY='d8dee9'
COLOR_SECONDARY='8fbcbb'
COLOR_TERNARY='d08770'
COLOR_QUATERNARY='b48ead'
COLOR_SUCCESS='a3be8c'
COLOR_WARNING='ebcb8b'
COLOR_ERROR='bf616a'
COLOR_BACKRGROUND='2e3440'
GRADIENT_1='FFC745'
GRADIENT_2=''
# Copia del gradiente 2, para que el degradado se visualice bien
GRADIENT_2_AUX=$GRADIENT_2 
GRADIENT_3='FFC745'
GRADIENT_4=''
GRADIENT_5='007A78'
GRADIENT_6='007A78'
HIDE_OUTPUT='false'
USE_KONG=true
SELECTED_ANIMATION='OTHER_BUBBLE'
SIMPLE_ECHO=''
