NO_COLOR='#FFFFFF'
COLOR_PRIMARY='#89AFB3'
COLOR_SECONDARY='#DB7202'
COLOR_TERNARY='#B3AD89'
COLOR_QUATERNARY='#E66EB2'
COLOR_SUCCESS='#15DB02'
COLOR_WARNING='#DBAB02'
COLOR_ERROR='#DB2602'
COLOR_BACKRGROUND='#331B28' # #2E5386
GRADIENT_1='#7A02DB'
GRADIENT_2=''
# Copia del gradiente 2, para que el degradado se visualice bien
GRADIENT_2_AUX=$GRADIENT_2 
GRADIENT_3='#7A02DB'
GRADIENT_4=''
GRADIENT_5='#864D2E'
GRADIENT_6='#864D2E'
HIDE_OUTPUT='true'
USE_KONG=true
SELECTED_ANIMATION='BRAILLE'
SIMPLE_ECHO=''

 